*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    height: 100vh;
    background: rgb(82, 207, 82);
    display: flex;
    justify-content:center;
    align-items:center;
    .wrapper{
        background: #fff;
        width: 350px;
        border-radius:12px;
        padding: 20px;
        
        .title{
            font-size: 22px;
            padding-bottom: 20px ;
        }
        .content{
            border: 1px solid #888;
            display: flex;
            padding: 10px;
            gap:6px;
            flex-wrap: wrap;
            border-radius:5px;
            li{
                list-style: none;
                color: #fff;
                min-width: 60px;
                background: #8cc84c;
                padding: 5px 6px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                i{
                    font-size: 20px;
                    cursor: pointer;
                }
                border-radius: 6px;
            }
            input{
                border: none;
                font-size: 20px;
                outline: none;
                flex:1;
            }
        }
        .remove{
            border: none;
            background: #8cc84c;
            padding: .5rem 1rem;
            border-radius:8px;
            margin-top: 12px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
        }
    }
}