*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-blue:#2691d9;
    --primary-orange: #e74c3c;
    --primary-blue-hover: #08609a;
}
body{
    font-family: 'Poppins';
    height: 100vh;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    .form-control{
        background: #fff;
        padding: 12px 40px;
        width: 400px;
        border-radius:20px;
        &_title{
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        &_content{
            margin-top: 10px;
            position: relative;
            width: 100%;
            min-height: 69px;
            input{
                width: 100%;
                padding: 12px 0;
                border:none;
                outline:none;
                font-size: 16px;
                border-bottom: 3px solid #adadad;
                &:focus ~ span{
                    width: 100%;
                }
            }
            span{
                position: absolute;
                width: 0;
                height: 3px;
                background: var(--primary-blue);
                bottom: 0;
                left: 0;
                margin-bottom: 25px;
                transition:.3s;
            }
            small{
                color: var(--primary-orange);
            }
            
        }
        .error{
                input{
                    border-bottom: 3px solid var(--primary-orange);
                }
            }
        .success{
                input{
                    border-bottom: 3px solid var(--primary-blue);
                } 
        }
        .btn-login{
            width: 100%;
            margin: 30px 0;
            height: 50px;
            color: #fff;
            font-weight: bold;
            background: var(--primary-blue);
            outline:none;
            border:none;
            font-size: 18px;
            border-radius:25px;
            transition:.3s;
            cursor: pointer;
            &:hover{
                background: var(--primary-blue-hover);
            }
        }
        .signup-link{
            text-align: center;
            color: #686666;
            font-weight: 300;
       
            a{
                margin-left: 5px;
                text-decoration: none;
                color: var(--primary-blue);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}